* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 1rem;
}

header {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

h1,
h2 {
  /* margin: 1rem; */
}

.title {
  font-size: 2rem;
  /* Inline-block allows the gradient to work */
  display: inline-block;
  background: linear-gradient(to right, #fff, #37996b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  background: linear-gradient(to right, #fff, #9b9b9b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 90%;
}

.input-container {
  position: relative;
  display: flex;
  height: 3rem;
  width: 700px;
  margin: auto;
  justify-content: center;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(30, 30, 30, 0.6);
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgba(30, 30, 30, 0.85),
    rgba(0, 0, 0, 1)
  );
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.response {
  width: 700px;
  height: 80vh;
  height: 80dvh;
  margin: 2rem auto;
  overflow: auto;
}

.submit-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  height: 16px;
  width: 16px;
  opacity: 1;
  background-color: black;
}

.btn-icon {
  position: absolute;
  top: -3px;
  right: -4px;
  color: #f87700;
  opacity: 0;
  transition: opacity ease-in 0.2s;
  cursor: pointer;
}

.submit-btn:hover .btn-icon {
  opacity: 1;
}

.small-glow {
  position: absolute;
  top: 16px;
  right: 20px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f87700;
  filter: blur(12px);
}

.big-glow {
  position: absolute;
  top: -44px;
  right: -44px;
  height: 144px;
  width: 144px;
  border-radius: 50%;
  background-color: #f87700;
  filter: blur(69px);
  opacity: 15%;
  z-index: -1;
}
